shared/nvim/.local/share/nvim/plugged/vim-pandoc-after/
shared/nvim/.local/share/nvim/plugged/vimtex/
shared/nvim/.local/share/nvim/shada/main.shada
shared/nvim/.local/share/nvim/swap/
shared/vim/.vim/bundle/
