/* ! hard contrast: *background: #1d2021 */
/* *background: #282828 */
/* ! soft contrast: *background: #32302f */
/* *foreground: #ebdbb2 */
/* ! Black + DarkGrey */
/* *color0:  #282828 */
/* *color8:  #928374 */
/* ! DarkRed + Red */
/* *color1:  #cc241d */
/* *color9:  #fb4934 */
/* ! DarkGreen + Green */
/* *color2:  #98971a */
/* *color10: #b8bb26 */
/* ! DarkYellow + Yellow */
/* *color3:  #d79921 */
/* *color11: #fabd2f */
/* ! DarkBlue + Blue */
/* *color4:  #458588 */
/* *color12: #83a598 */
/* ! DarkMagenta + Magenta */
/* *color5:  #b16286 */
/* *color13: #d3869b */
/* ! DarkCyan + Cyan */
/* *color6:  #689d6a */
/* *color14: #8ec07c */
/* ! LightGrey + White */
/* *color7:  #a89984 */
/* *color15: #ebdbb2 */

! special
*foreground:        #fff1ef
*background:        #100910
*.foreground:       #fff1ef
*.background:       #100910
URxvt*cursorColor:  #fff1ef
XTerm*cursorColor:  #fff1ef
UXTerm*cursorColor: #fff1ef
URxvt*borderColor:  [100]#100910

! Colors 0-15.
*.color0: #100910
*color0:  #100910
*.color1: #BD6D64
*color1:  #BD6D64
*.color2: #90686D
*color2:  #90686D
*.color3: #DF9A6B
*color3:  #DF9A6B
*.color4: #726F84
*color4:  #726F84
*.color5: #A77A84
*color5:  #A77A84
*.color6: #A46767
*color6:  #A46767
*.color7: #d7c0be
*color7:  #d7c0be
*.color8: #57565c
*color8:  #57565c
*.color9: #ff7e6f
*color9:  #ff7e6f
*.color10: #cb7781
*color10:  #cb7781
*.color11: #ffc475
*color11:  #ffc475
*.color12: #8880bb
*color12:  #8880bb
*.color13: #eb8ba1
*color13:  #eb8ba1
*.color14: #e67474
*color14:  #e67474
*.color15: #fff1ef
*color15:  #fff1ef

URxvt*scrollBar:         false
URxvt*scrollBar_right:   false

URxvt*transparent:       false
URxvt*shading:		 50
URxvt*blurRadius: 	 25

URxvt*depth: 32
URxvt.background: [80]#3E4452

URxvt.font: xft:Source Code Pro:pixelsize=14
URxvt.letterSpace: 0

*antialias:  true
*autohint:   true

Xft.dpi: 108
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! Rofi
rofi.width: 25

! DWM
dwm.normbordercolor: #814c58
dwm.normbgcolor: #100910
dwm.normfgcolor: #d7c0be
dwm.selbordercolor: #bb6f80
dwm.selbgcolor: #100910
! dwm.selbgcolor: #bb6f80
dwm.selfgcolor: #bb6f80
